<div class="row flex-column">
  <label class="title-chart">
    <span class="title-width">Thống kê nhân sự sẵn sàng của đối tác</span></label>
  <div>
    <div class="d-flex">
      <span class="flex-grow-1"></span>
      <label class="col-sm-3 col-form-label custom-label-right bold">Tổng nhân sự (>=)</label>
      <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
        <input #input style="width: 32%" type="text" maxlength="10" class="form-control w-100" formControlName="employeeSum"
               (blur)="trimSpace('employeeSum')" (input)="onKeyInput($event, 'employeeSum')"
               (keydown.enter)="loadAll()" (blur)="loadAll()">
      </form>
    </div>

    <div class="d-flex">
      <div class="flex-grow-1"></div>
        <a (click)="openModalZoom()" ngbTooltip="Phóng to"><i class="fa fa-arrows-alt" style="font-size: 15px; float: right;color: #d6d5d5;position: relative;top: 25px;"></i></a>
      </div>
  </div>


<!--    <div id="chart">-->
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [responsive]="chartOptions.responsive"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [colors]="chartOptions.legend.labels.colors"
      ></apx-chart>
<!--    </div>-->
    <div class="row d-flex justify-content-end pr-2 mb-3">
      <div class="col-md-6">
        <button (click)="openModalDetail()" class="float-right btn btn-danger">Xem chi tiết</button>
      </div>
    </div>
  </div>
