.custom-notification {
  pointer-events: auto;
  position: static;
  margin-top: 20px;
  margin-right: 10px;
  width: 300px;
  margin-bottom: 0rem;
  background: #f5f6f7;
  //padding: 5px 5px 30px 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(32, 33, 36, 0.28);
}

.no-show {
  .custom-control-label {
    font-size: 0.8rem;
  }
}
