.colViewlogs{
  width: 155px;
  align-items: center;
}
.colSetting{
  width: 155px;
  align-items: center;
}
.colStart{
  width: 155px;
  align-items: center;
}
.colStop{
  width: 155px;

}
.colSTT{
  width: 100px;
}
.colLevel{
  width: 120px;
  text-align: center;
}
.colDate{
  width: 150px;
}
.error{
  color: red;
  padding: 5px;
}