<div style="display: block;">
    <div class="custom-modal-big" jhiModalDrag [handle]="handle">
        <div class="modal-header" #handle>
            <h5 class="modal-title mt-0" *ngIf="type === 'add'">Thêm mới dữ liệu nhập</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'detail'">Chi tiết dữ liệu nhập</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'update'">Cập nhật dữ liệu nhập</h5>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row dropdown form-custom-select">
                        <label class="col-sm-3 custom-label-right">Mã đơn hàng</label>
                        <div class="col-sm-8 form-custom-select">
                            <input type="text" class="form-control" formControlName="ma_don_hang"
                                   maxlength="200" (blur)="trimSpace('ma_don_hang')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-sm-3 custom-label-right">Tên cửa hàng</label>
                    <div class="col-sm-8 form-custom-select">
                        <ng-select [items]="listCuaHang"
                                   placeholder="{{this.translateService.instant('common.select.option.all')}}"
                                   clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                   notFoundText="{{'common.select.notFoundText' | translate}}"
                                   searchable="false"
                                   bindLabel="tenCuaHang" bindValue="id" formControlName="idCuaHang">
                            <ng-template ng-option-tmp let-item="item">
                                {{formatPreShow(item.tenCuaHang)}} <br/>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-sm-3 custom-label-right">Nhà cung cấp</label>
                    <div class="col-sm-8 form-custom-select">
                        <ng-select [items]="listNhaCungCap"
                                   placeholder="{{this.translateService.instant('common.select.option.all')}}"
                                   clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                   notFoundText="{{'common.select.notFoundText' | translate}}"
                                   searchable="false"
                                   bindLabel="tenCuaHang" bindValue="id" formControlName="idCuaHang">
                            <ng-template ng-option-tmp let-item="item">
                                {{formatPreShow(item.tenCuaHang)}} <br/>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row dropdown form-custom-select">
                        <label class="col-sm-3 custom-label-right">Nội dung</label>
                        <div class="col-sm-8 form-custom-select">
                            <input type="text" class="form-control" formControlName="mieu_ta"
                                   maxlength="200" (blur)="trimSpace('mieu_ta')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="openModal('add')">
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i><span>Nhập thêm</span>
                </button>
            </div>
        </form>

        <div class="row">
            <perfect-scrollbar id="scrollbarTable" class="ps">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <th class="small-width-table" jhiTranslate="userGroup.orderNumber">STT
                        </th>
                        <th class="medium-width-table"><span>Sản phẩm</span>
                        </th>
                        <th class="medium-width-table"><span>Đơn giá</span>
                        </th>
                        <th class="medium-width-table"><span>Ngày sản xuất</span>
                        </th>
                        <th class="medium-width-table"><span>Ngày hết hạn</span>
                        </th>
                        <th class="medium-width-table"><span>Tổng tiền</span>
                        </th>
                        <th class="medium-width-table action-width-four-icon custom-width"
                            jhiTranslate="userGroup.action" style="width: 7rem;">
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of listData; index as i">
                    <tr>
                        <td class="text-center">{{itemsPerPage * (page - 1) + i + 1}}</td>
                        <td>{{item.san_pham}}</td>
                        <td>{{item.nha_cung_cap}}</td>
                        <td>{{item.so_luong}}</td>
                        <td>{{item.don_gia}}</td>
                        <td>{{item.ngay_san_xuat}}</td>
                        <td>{{item.ngay_het_han}}</td>
                        <td>{{item.tong_tien}}</td>
                        <td class="text-left four-icon medium-width-table">
                            <div class="group-action">
                                <button class="btn btn-light" placement="top"
                                        (click)="openModal('update', item)"
                                        ngbTooltip="{{'common.tooltip.action.update' | translate}}"
                                        onclick="this.blur();">
                                    <i class="fa fa-pencil-square-o icon-update" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-light" placement="top"
                                        ngbTooltip="{{'common.tooltip.action.delete' | translate}}"
                                        (click)="onDelete(item.id)"
                                        onclick="this.blur();">
                                    <i class="fa fa-trash icon-delete" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>

        <div class="row justify-content-start py-2 pl-1  table-footer no-data"
             *ngIf="!totalItems">
            <p style="color: red" class="item-count" jhiTranslate="common.table.noData"></p>
        </div>

        <div class="d-flex justify-content-end table-footer" [hidden]="!totalItems">
            <div class="row justify-content-center">
                <p class="item-count">{{'common.table.totalItems'| translate}} {{totalItems}}</p>
                <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="page"
                                [pageSize]="itemsPerPage" [maxSize]="10" [rotate]="true"
                                [boundaryLinks]="true"
                                (pageChange)="loadPage(page)">
                </ngb-pagination>
                <jhi-page-size (onChangePageSize)="changePageSize($event)"></jhi-page-size>
            </div>
        </div>
    </div>
</div>
