<div style="display: block;">
    <div class="custom-modal-large" jhiModalDrag [handle]="handle">
        <div class="modal-header" #handle>
            <h5 class="modal-title mt-0" *ngIf="type === 'add'">Thêm mới phòng ban</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'detail'">Chi tiết phòng ban</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'update'">Cập nhật phòng ban</h5>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" class="form-90-center">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group dropdown form-custom-select"
                         [ngClass]="{'has-error': isFieldValid('maPhongBan')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Mã phòng ban</label>
                        <input type="text" class="form-control" formControlName="maPhongBan"
                               (blur)="trimSpace('maPhongBan')"
                               [readOnly]="type == 'detail'"
                               maxlength="200">
                        <jhi-error-messages *ngIf="formControl['maPhongBan'].hasError('required')"
                                            [displayError]="isFieldValid('maPhongBan')"
                                            errorMsg="Mã phòng ban không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group dropdown form-custom-select"
                         [ngClass]="{'has-error': isFieldValid('ten')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Tên phòng ban</label>
                        <input type="text" class="form-control" formControlName="ten"
                               (blur)="trimSpace('ten')"
                               [readOnly]="type == 'detail'"
                               maxlength="200">
                        <jhi-error-messages *ngIf="formControl['ten'].hasError('required')"
                                            [displayError]="isFieldValid('ten')"
                                            errorMsg="Tên phòng ban không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group dropdown form-custom-select">
                        <label class="form-control-label">Miêu tả</label>
                        <textarea *ngIf="type !== 'detail'" class="form-control" type="text" rows="3"
                                  formControlName="mieuTa" maxlength="250" (blur)="trimSpace('mieuTa')"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-end" style="margin-bottom: 2%; margin-right: 1%">
        <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-success"
                (click)="onSubmit()">
            <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.save'}}"></span>
        </button>

        <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-light"
                (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.cancel'}}"></span>
        </button>
        <button *ngIf="type === 'detail'" type="button" class="btn btn-light" (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.close'}}"></span>
        </button>
    </div>
</div>
