<jhi-spinner></jhi-spinner>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <button routerLink="" class="btn btn-link btn-custom-bg" ngbTooltip="{{'common.tooltip.home' | translate}}">
      <i class="fa fa-home icon-breadcrumb" aria-hidden="true"></i>
    </button>
  </li>
  <li class="breadcrumb-item"><a jhiTranslate="organizationCategories.titleParent">Danh mục hệ thống</a></li>
  <li class="breadcrumb-item active" jhiTranslate="organizationCategories.title">Quản lý danh mục đơn vị</li>
</ol>
<perfect-scrollbar class="ps" [style.max-height.px]="height" (window:resize)="onResize()">
  <div id="organizationCategories" class="page-content">
    <div class="card mb-1">
      <div class="card-header">
        <a data-toggle="collapse" href="#search" aria-expanded="true"><span
          jhiTranslate="common.card.title.search"></span></a>
      </div>
      <div id="search" class="collapse show">
        <div class="card-body">
          <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="organizationCategories.codeOrganization">Mã đơn vị</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="code" maxlength="20" jhiAutoFocusField>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="organizationCategories.nameOrganization">Tên đơn vị</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="name" maxlength="250">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row dropdown form-custom-select">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="organizationCategories.parentOrganization">Đơn vị cha</label>
                  <div class="col-sm-9 form-custom-select">
                    <ng-select [items]="listUnit1$ | async"
                               placeholder="--Tất cả--"
                               clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                               notFoundText= "{{( unitSearch1 ?   notFoundText :  'common.select.required') | translate }}"
                               bindLabel="parentName" bindValue="parentId" formControlName="parent"
                               (search)="onSearchUnit1($event)"
                               (clear)="onClearUnit1()"
                               (close)="onSearchUnitClose1()">
                      <ng-template ng-option-tmp let-item="item">
                        {{item.parentName}} <br/>
                      </ng-template>
                    </ng-select>
                    <span class="span-after-select"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row dropdown form-custom-select">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="organizationCategories.groupOrganization">Nhóm đơn vị</label>
                  <div class="col-sm-9 form-custom-select">
                    <ng-select bindLabel="groupName" bindValue="dataCategoryId" formControlName="groupOrganization"
                               notFoundText="{{ 'common.select.notFoundText' | translate }}"
                               placeholder="--Tất cả--"
                               clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                               [items]="groupOrganizationList"
                               [multiple]="false"
                               [searchFn]="customSearchFn"
                               (change)="onChangePosition($event)"
                               (clear)="onClearPosition()">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary" (click)="doSearch()">
                <i class="fa fa-search mr-2" aria-hidden="true"></i><span
                jhiTranslate="common.button.search">Tìm kiếm</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#dataTable" aria-expanded="true"><span
          jhiTranslate="organizationCategories.titleTable"></span></a>
      </div>
      <div id="dataTable" class="collapse show">
        <div class="card-body pt-2 pb-0 px-2">
          <div class="row d-flex justify-content-end pr-1">
            <button type="button" class="btn btn-primary" *jhiHasPermission="['DMDV_ADD']"
                    (click)="openModal('add')">
              <i class="fa fa-plus mr-2" aria-hidden="true"></i><span jhiTranslate="common.button.add">Thêm mới</span>
            </button>
            <!--                        <button type="button"  class="btn btn-primary"  (click)="openModal('import')">-->
            <!--                            <i class="fa fa-plus mr-2" aria-hidden="true"></i><span jhiTranslate="common.button.import">Import File</span>-->
            <!--                        </button>-->
          </div>
          <div class="row">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                <th class="small-width-table" jhiTranslate="organizationCategories.orderNumber">STT</th>
                <th class="medium-width-table" jhiTranslate="organizationCategories.action"></th>
                <th><span jhiTranslate="organizationCategories.codeOrganization">Mã đơn vị</span>
                </th>
                <th><span jhiTranslate="organizationCategories.nameOrganization">Tên đơn vị</span>
                </th>
                <th><span>Nhóm đơn vị</span>
                </th>
                <th><span>Đơn vị cha</span>
                </th>
<!--                <th><span>Mô tả</span>-->
<!--                </th>-->
<!--                <th><span>Ghi chú</span>-->
<!--                </th>-->
              </tr>
              </thead>
              <tbody *ngFor="let item of organizationCategoriesModel; index as i">
              <tr>
                <td class="text-center">{{itemsPerPage * (page - 1) + i + 1}}</td>
                <td class="text-center">
                  <div class="group-action">
                    <!--<button class="btn btn-light" placement="top" *jhiHasPermission="['resource.hddt_dm_kh_xct']"
                            ngbTooltip="{{'common.tooltip.action.detail' | translate}}"
                             onclick="this.blur();">
                        <i class="fa fa-info icon-info" aria-hidden="true"></i></button>-->
                    <button class="btn btn-light" placement="top" *jhiHasPermission="['DMDV_EDIT']"
                            ngbTooltip="{{'common.tooltip.action.update' | translate}}"
                            (click)="openModal('update',item)"
                            onclick="this.blur();">
                      <i class="fa fa-pencil-square-o icon-update" aria-hidden="true"></i></button>
                    <button class="btn btn-light" placement="top" *jhiHasPermission="['DMDV_DELETE']"

                            ngbTooltip="{{'common.tooltip.action.delete' | translate}}" (click)="onDelete(item)"
                            onclick="this.blur();">
                      <i class="fa fa-trash-o icon-delete" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td>{{item.organizationGroupName}}</td>
                <td>{{item.parentName}}</td>
<!--                <td>{{item.description}}</td>-->
<!--                <td>{{item.note}}</td>-->
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-start py-2 pl-1  table-footer no-data"
               *ngIf="!totalItems || totalItems === 0">
            <p class="item-count" jhiTranslate="common.table.noData"></p>
          </div>


          <div class="d-flex justify-content-end table-footer" [hidden]="totalItems === 0">
            <div class="row justify-content-center">
              <p class="item-count">{{'common.table.totalItems'| translate}} {{totalItems}}</p>
              <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                              [maxSize]="maxSizePage" [rotate]="true" [boundaryLinks]="true"
                              (pageChange)="loadPage(page)">
              </ngb-pagination>
              <jhi-page-size (onChangePageSize)="changePageSize($event)"></jhi-page-size>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</perfect-scrollbar>
