:host ::ng-deep {
  .icon-delete-file.import {
    margin-right: 95px !important;
  }

  .upload-input {
    margin-left: 10px !important;
    width: 95% !important;
  }

  .icon-delete-file.import {
    margin-right: 15px !important;
  }
}