<div style="display: block;">
    <div class="custom-modal-large" jhiModalDrag [handle]="handle">
        <div class="modal-header" #handle>
            <h5 class="modal-title mt-0" *ngIf="type === 'add'">Thêm mới nguyên vật liệu</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'detail'">Chi tiết nguyên vật liệu</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'update'">Cập nhật nguyên vật liệu</h5>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" class="form-90-center">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row"
                         [ngClass]="{'has-error': isFieldValid('maSanPham')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Mã nguyên vật liệu</label>
                        <input type="text" class="form-control" formControlName="maSanPham"
                               (blur)="trimSpace('maSanPham')"
                               [readOnly]="type == 'detail'"
                               maxlength="200">
                        <jhi-error-messages *ngIf="formControl['maSanPham'].hasError('required')"
                                            [displayError]="isFieldValid('maSanPham')"
                                            errorMsg="Mã nguyên vật liệu không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row"
                         [ngClass]="{'has-error': isFieldValid('tenSanPham')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Tên nguyên vật liệu</label>
                        <input type="text" class="form-control" formControlName="tenSanPham"
                               (blur)="trimSpace('tenSanPham')"
                               [readOnly]="type == 'detail'"
                               maxlength="200">
                        <jhi-error-messages *ngIf="formControl['tenSanPham'].hasError('required')"
                                            [displayError]="isFieldValid('tenSanPham')"
                                            errorMsg="Tên nguyên vật liệu không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="form-control-label">Giá nhập</label>
                        <input type="text" class="form-control" formControlName="giaNhapNiemYet"
                               (blur)="trimSpace('giaNhapNiemYet')"
                               [readOnly]="type == 'detail'" (keypress)="numberOnly($event)"
                               maxlength="15">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="form-control-label">Giá bán</label>
                        <input type="text" class="form-control" formControlName="giaBanNiemYet"
                               (blur)="trimSpace('giaBanNiemYet')"
                               [readOnly]="type == 'detail'" (keypress)="numberOnly($event)"
                               maxlength="15">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="form-control-label">Đơn vị</label>
                        <input type="text" class="form-control" formControlName="donVi"
                               (blur)="trimSpace('donVi')"
                               [readOnly]="type == 'detail'"
                               maxlength="15">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="form-control-label">Mô tả</label>
                        <textarea *ngIf="type !== 'detail'" class="form-control" type="text" rows="3"
                                  formControlName="moTa" maxlength="1000" (blur)="trimSpace('moTa')"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center" style="margin-bottom: 2%;">
        <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-danger"
                (click)="onSubmit()">
            <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.save'}}"></span>
        </button>

        <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-light"
                (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.cancel'}}"></span>
        </button>
        <button *ngIf="type === 'detail'" type="button" class="btn btn-light" (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.close'}}"></span>
        </button>
    </div>
</div>
