<div id="userGroup" class="page-content">
  <div class="card mb-1">
    <div class="card-header">
      <a data-toggle="collapse" href="#search" aria-expanded="true"><span
          jhiTranslate="common.card.title.search"></span></a>
    </div>
    <div id="search" class="collapse show">
      <div class="card-body">
        <form novalidate autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label custom-label-right">Số văn bản</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" jhiAutoFocusField>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row dropdown form-custom-select">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button #buttonElement type="button" class="btn btn-danger"><i class="fa fa-search mr-2" aria-hidden="true"></i><span
                jhiTranslate="common.button.search">Tìm kiếm</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a data-toggle="collapse" href="#dataTable" aria-expanded="true"><span
      >Danh sách hợp đồng</span></a>
    </div>
    <div id="dataTable" class="collapse show">
      <div class="card-body pt-2 pb-0 px-2">
        <div class="row">
          <table class="table table-bordered table-hover table-striped" id="tableCustoms">
            <thead>
            <tr class="text-center">
              <th scope="col" class="small-width-table">STT</th>
              <th scope="col" class="medium-width-table action-width-four-icon custom-width">
                Hành động
              </th>
              <th scope="col">
                <span>Số hợp đồng</span>
                <fa-icon [icon]="'sort'"></fa-icon>
              </th>
              <th scope="col"><span>Tên dự án</span>
                <fa-icon [icon]="'sort'"></fa-icon>
              </th>
              <th scope="col"><span>Mã dự án</span>
                <fa-icon [icon]="'sort'"></fa-icon>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center"></td>
              <td class="text-center four-icon medium-width-table">
                <div class="group-action">
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="row justify-content-start py-2 pl-1 table-footer no-data">
          <p class="item-count" jhiTranslate="common.table.noData"></p>
        </div>
        <div class="d-flex justify-content-end table-footer">
          <div class="row justify-content-center">
            <p class="item-count"></p>
            <ngb-pagination>
            </ngb-pagination>
            <jhi-page-size></jhi-page-size>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>