<div style="display: block;" id="all">
    <div class="custom-modal-big" jhiModalDrag [handle]="handle">
        <div class="modal-header" #handle>
            <h5 class="modal-title mt-0" *ngIf="type === 'add'">Thêm mới dữ liệu xuất</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'detail'">Hóa đơn bán hàng</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'update'">Cập nhật dữ liệu xuất</h5>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="card-body" id="print">
        <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" class="form-80-center">
            <div class="row">
                <h3 class="col-sm-12 text-center" style="font-weight: bold">HÓA ĐƠN BÁN HÀNG</h3>
            </div>

            <div class="row" style="margin-top: 2%">
                <div class="col-md-6">
                    <div class="form-group row dropdown form-custom-select">
                        <label class="col-sm-4 required" style="font-weight: bold">Mã đơn hàng</label>
                        <div class="col-sm-7" >
                            <label style="font-weight: bold">{{selectedData.maXuatHang}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 " style="font-weight: bold">Tên cửa hàng</label>
                        <label class="col-sm-7 " style="font-weight: bold">{{selectedData.tenCuaHang}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 "style="font-weight: bold">Khách hàng</label>
                        <label class="col-sm-7 " style="font-weight: bold">{{selectedData.tenKhachHang}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight: bold">Ngày xuất</label>
                        <label class="col-sm-7" style="font-weight: bold">{{selectedData.ngayXuat}}</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2%">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 " style="font-weight: bold">Phương thức thanh toán</label>
                        <label class="col-sm-7 " style="font-weight: bold">{{selectedData.tenPhuongThuc}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight: bold">Người tạo đơn</label>
                        <label class="col-sm-7" style="font-weight: bold">{{selectedData.nguoiTao}}</label>
                    </div>
                </div>
            </div>
        </form>
        <div id="dataTable" class="collapse show">
            <div class="card-body pt-2 pb-0 px-2">
                <div class="row">
                    <perfect-scrollbar id="scrollbarTable" class="ps">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                                <th class="small-width-table" jhiTranslate="userGroup.orderNumber">STT
                                </th>
                                <th class="medium-width-table"><span>Sản phẩm</span>
                                </th>
                                <th class="medium-width-table"><span>Số lượng</span>
                                </th>
                                <th class="medium-width-table"><span>Đơn giá</span>
                                </th>
                                <th class="medium-width-table"><span>Tổng tiền</span>
                                </th>
                                <th class="medium-width-table"><span>Ngày sản xuất</span>
                                </th>
                                <th class="medium-width-table"><span>Ngày hết hạn</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let item of listDonXuat; index as i">
                            <tr>
                                <td class="text-center">{{itemsPerPage * (page - 1) + i + 1}}</td>
                                <td>{{item.tenSanPham}}</td>
                                <td>{{item.soLuong}}</td>
                                <td style="text-align: right">{{item.gia | number}}</td>
                                <td style="text-align: right">{{item.tongTien | number}}</td>
                                <td style="text-align: center">{{item.ngaySanXuat }}</td>
                                <td style="text-align: center">{{item.ngayHetHan }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="margin-bottom: 2%;margin-top: 2%;">
        <button type="submit" class="btn btn-danger"
                (click)="onSubmit('print', 'all')">
            <i class="fa fa-print mr-2" aria-hidden="true"></i><span>In Hóa đơn</span>
        </button>
        <button type="submit" class="btn btn-light"
                (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.cancel'}}"></span>
        </button>

    </div>
</div>
