.font-italic {
  color: #0c69b5;
  text-decoration: underline !important;
  margin-top: 8px;
  position: absolute;
  font-size: 14px;
}

.show {
  min-height: 50px;
}

.disabled {
  pointer-events: none;
  color: grey;
}

:host ::ng-deep {
  .e-gridcontent {
    cursor: pointer;
  }
}

.fa-arrow-circle-down {
  font-size: 140%;
  color: #19b819;
}

.fa-arrow-circle-up {
  font-size: 140%;
  color: #ff0000;
}

.detail {
  color: #0c69b5;
  text-decoration: underline;
}