<div style="display: block;">
    <div class="custom-modal-large" jhiModalDrag [handle]="handle">
        <div class="modal-header" #handle>
            <h5 class="modal-title mt-0" *ngIf="type === 'add'">Thêm mới chi tiết bán hàng</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'detail'">Chi tiết bán hàng</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'update'">Cập nhật chi tiết bán hàng</h5>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" class="form-90-center">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dropdown form-custom-select"
                         [ngClass]="{'has-error': isFieldValid('idThucDon')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Thực đơn</label>
                        <ng-select [items]="listSanPham"
                                   placeholder="Chọn Thực đơn"
                                   clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                   notFoundText="{{'common.select.notFoundText' | translate}}"
                                   searchable="false"
                                   (change)="changeThucDon($event)"
                                   [readonly]="type === 'detail'"
                                   bindLabel="tenThucDon" bindValue="id" formControlName="idThucDon">
                        </ng-select>
                        <jhi-error-messages *ngIf="formControl['idThucDon'].hasError('required')"
                                            [displayError]="isFieldValid('idThucDon')"
                                            errorMsg="Thực đơn không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group dropdown form-custom-select"
                         [ngClass]="{'has-error': isFieldValid('soLuong')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Số lượng</label>
                        <input type="text" class="form-control" formControlName="soLuong"
                               (blur)="trimSpace('soLuong')"
                               [readOnly]="type == 'detail'" (keypress)="numberOnly($event)"
                               (ngModelChange)="onChange()"
                               maxlength="5">
                        <jhi-error-messages *ngIf="formControl['soLuong'].hasError('required')"
                                            [displayError]="isFieldValid('soLuong')"
                                            errorMsg="Số lượng không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group dropdown form-custom-select"
                         [ngClass]="{'has-error': isFieldValid('gia')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="form-control-label">Đơn giá</label>
                        <input type="text" class="form-control" formControlName="gia"
                               (blur)="trimSpace('gia')"
                               (ngModelChange)="onChange()" (keypress)="numberOnly($event)"
                               [readOnly]="true"
                               maxlength="15">
                        <jhi-error-messages *ngIf="formControl['gia'].hasError('required')"
                                            [displayError]="isFieldValid('gia')"
                                            errorMsg="Đơn giá không được để trống">
                        </jhi-error-messages>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-control-label">Tổng tiền</label>
                    <input type="text" class="form-control" formControlName="tongTien"
                           (blur)="trimSpace('tongTien')"
                           [readOnly]="true">
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center" style="margin-bottom: 2%;">
        <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-danger"
                (click)="onSubmit()">
            <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.save'}}"></span>
        </button>
        <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-light"
                (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.cancel'}}"></span>
        </button>
        <button *ngIf="type === 'detail'" type="button" class="btn btn-light" (click)="onCancel()">
            <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                jhiTranslate="{{'common.button.confirm.close'}}"></span>
        </button>
    </div>
</div>
