.custome-history {
  float: left;
  padding-right: 15px;
}

.general-information {
  font-size: 20px;
  background: #33cccc;
}
.dashed-history {
  border-top: 2px dashed #b1154a;
  margin-bottom: 12px;
}
