<jhi-spinner></jhi-spinner>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <button routerLink="/san-pham" class="btn btn-link btn-custom-bg" ngbTooltip="{{'common.tooltip.home' | translate}}">
      <i class="fa fa-home icon-breadcrumb" aria-hidden="true"></i>
    </button>
  </li>
  <li class="breadcrumb-item active"><a>{{'nonFunctionManagement.nonFunctionManagement' | translate}}</a></li>
</ol>
<perfect-scrollbar class="ps" [style.max-height.px]="height" (window:resize)="onResize()">
  <div id="organizationCategories" class="page-content">
    <div class="card mb-1">
      <div class="card-header">
        <a data-toggle="collapse" href="#search" aria-expanded="true"><span
          jhiTranslate="common.card.title.search"></span></a>
      </div>
      <div id="search" class="collapse show">
        <div class="card-body">
          <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row dropdown form-custom-select">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="nonFunctionManagement.work-code">Mã công việc</label>
                  <div class="col-sm-9 form-custom-select">
                    <input type="text" class="form-control" formControlName="workCode" jhiAutoFocusField
                           maxlength="50">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row dropdown form-custom-select">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="nonFunctionManagement.work-name">Tên công việc</label>
                  <div class="col-sm-9 form-custom-select">
                    <input type="text" class="form-control" formControlName="workName" 
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row dropdown form-custom-select">
                  <label class="col-sm-3 col-form-label custom-label-right"
                         jhiTranslate="functionManagement.version-code">Mã phiên bản</label>
                  <div class="col-sm-9 form-custom-select">
                    <ng-select [items]="listVersion"
                               placeholder="{{this.translateService.instant('common.select.option.all')}}"
                               clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                               notFoundText="{{'common.select.notFoundText' | translate}}"
                               bindLabel="versionName" bindValue="versionCode" formControlName="versionCode"
                               (search)="searchVersion($event)"
                               (clear)="onClearVersion(1)">
                      <ng-template ng-option-tmp let-item="item">
                        {{formatPreShow(item.versionName)}} <br/>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label custom-label-right" jhiTranslate="versionManagement.status">Trạng thái</label>
                  <div class="col-sm-9 form-group row dropdown form-custom-select">
                    <select #selectElement class="form-control custom-select-arrow"
                        formControlName="status">
                        <option value="">{{'common.select.option.all' | translate}}</option>
                        <option *ngFor="let s of listStatus" value="{{s.id}}"> {{s.name}}</option>
                    </select>
                    <span class="span-after-select"><i class="fa fa-angle-down"
                            aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-danger" (click)="search(true)">
                <i class="fa fa-search mr-2" aria-hidden="true"></i><span
                jhiTranslate="common.button.search">Tìm kiếm</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#dataTable" aria-expanded="true"><span
          jhiTranslate="projectManagement.result-search">Kết quả tìm kiếm</span></a>
      </div>
      <div id="dataTable" class="collapse show">
        <div class="card-body pt-2 pb-0 px-2">
          <div class="row d-flex justify-content-end pr-1">
            <button type="button" class="btn btn-danger" *jhiHasPermission="['QLPCN_ADD']" (click)="openModal('add')">
              <i class="fa fa-plus mr-2" aria-hidden="true"></i>
              <span jhiTranslate="common.button.add">Thêm mới</span>
            </button>
          </div>
          <div class="row">
            <perfect-scrollbar id="scrollbarTable" class="ps">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                  <th class="small-width-table" jhiTranslate="projectManagement.orderNumber">STT</th>
                  <th class="medium-width-table" jhiTranslate="projectManagement.action">Hành động</th>
                  <th  class="medium-width-table"><span
                    jhiTranslate="nonFunctionManagement.work-code">Loại chức năng</span>
                  </th>
                  <th  class="large-width-table"><span
                    jhiTranslate="nonFunctionManagement.work-name">Loại công việc</span>
                  </th>
                  <th  class="small-width-table"><span
                    jhiTranslate="nonFunctionManagement.isOutsource">Có thực hiện thuê ngày không</span>
                  </th>
                  <th  class="small-width-table"><span
                    jhiTranslate="nonFunctionManagement.efforts">Nỗ lực (MH)</span>
                  </th>
                  <th  class="medium-width-table"><span
                    jhiTranslate="nonFunctionManagement.version-code">Mã phiên bản</span>
                  </th>
                  <th class="small-width-table"><span
                    jhiTranslate="functionManagement.status">Trạng thái</span>
                  </th>
                </tr>
                </thead>
                <tbody *ngFor="let item of projectManagement; index as i">
                <tr>
                  <td class="text-center">{{((page - 1) * itemsPerPage) + (i + 1)}}</td>
                  <td class="text-center">
                    <div class="group-action">
                      <button class="btn btn-light" placement="top" *jhiHasPermission="['QLPCN_VIEW']"
                              ngbTooltip="{{'common.tooltip.action.detail' | translate}}"
                              (click)="openModal('detail', item)"
                              onclick="this.blur();">
                        <i class="fa fa-info icon-info" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-light" placement="top" *jhiHasPermission="['QLPCN_EDIT']"
                              ngbTooltip="{{'common.tooltip.action.update' | translate}}"
                              (click)="openModal('update', item)"
                              onclick="this.blur();">
                        <i class="fa fa-pencil-square-o icon-update" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-light" placement="top" *jhiHasPermission="['QLPCN_DELETE']"
                              ngbTooltip="{{'common.tooltip.action.delete' | translate}}"
                              (click)="onDelete(item.id)"
                              onclick="this.blur();">
                        <i class="fa fa-trash-o icon-delete" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                  <td>{{item.workCode}}</td>
                  <td>{{item.workName}}</td>
                  <td class="text-center">{{item.isOutsource}}</td>
                  <td class="text-center">{{item.effort}}</td>
                  <td class="text-center">{{item.versionCode}}</td>
                  <td>{{getStatus(item.status)}}</td>
                </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
          <div class="row justify-content-start py-2 pl-1  table-footer no-data"
               *ngIf="!totalItems || totalItems === 0">
            <p class="item-count" jhiTranslate="common.table.noData"></p>
          </div>

          <div class="d-flex justify-content-end table-footer" [hidden]="totalItems === 0">
            <div class="row justify-content-center">
              <p class="item-count">{{'common.table.totalItems'| translate}} {{totalItems}}</p>
              <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="page"
                              [pageSize]="itemsPerPage" [maxSize]="maxSizePage" [rotate]="true"
                              [boundaryLinks]="true"
                              (pageChange)="loadPage(page)">
              </ngb-pagination>
              <jhi-page-size (onChangePageSize)="changePageSize($event)"></jhi-page-size>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</perfect-scrollbar>
