.custom-card-view {
  background: #fff;
  margin-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.1);
  border-radius: 2px;
  box-shadow: none;
  padding: 15px 15px 0;
  height: 560px;
}

::ng-deep.custom-class {
  width: 200px;
}

.zoom:hover {
  transform: scale(2);
  z-index: 1000;
}
