<div class="custom-modal-large" jhiModalDrag [handle]="handle">
  <div class="modal-header" #handle>
    <h5 class="modal-title mt-0">Thống kê công nợ của đối tác theo đơn vị - đối tác</h5>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true" (click)="onCloseAddModal()">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body d-flex">
  <div id="organizationCategories" class="page-content col-xl-12">
    <div class="flex-column" style="height: 100%">
      <div class="d-flex" style="display: inherit">
        <span class="flex-grow-1"></span>
        <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
          <div class="row mr-1">
            <label class="col-md-5 col-form-label custom-label-right bold">MM còn nợ (>=)</label>
            <input #input type="text" class="col-md-7 form-control" formControlName="totalMmOwed"
                   (keypress)="onTrimZero($event)" (blur)="deleteZero($event); loadData()"
                   [textMask]="{mask: currencyMask}"
                   (keydown.enter)="loadData()">
          </div>
        </form>
      </div>
      <div class="chart-zoom d-flex" style="height: 100%">
        <highcharts-chart
          id="contain"
          [Highcharts] = "highchartsZoom"
          [options] = "chartOptionsZoom"
          style = "width: 100%; height: 90%">
        </highcharts-chart>
      </div>
      <!--<div class="row d-flex justify-content-end pr-2 mb-3 mt-3">
        <button type="button" class="btn btn-danger">Xem chi tiết</button>
      </div>-->

    </div>
  </div>
</div>
