<div style="display: block;">
    <div class="custom-modal-big" jhiModalDrag [handle]="handle">
        <div class="modal-header" #handle>
            <h5 class="modal-title mt-0" *ngIf="type === 'add'">Thêm mới dữ liệu xuất</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'detail'">Chi tiết dữ liệu xuất</h5>
            <h5 class="modal-title mt-0" *ngIf="type === 'update'">Cập nhật dữ liệu xuất</h5>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div [ngClass]="{'has-error': isFieldValid('maDonHang')}"
                         class="form-group row dropdown form-custom-select">
                        <label class="col-sm-3 custom-label-right required">Mã đơn hàng</label>
                        <div class="col-sm-8 form-custom-select">
                            <input type="text" class="form-control" formControlName="maDonHang"
                                   maxlength="200" (blur)="trimSpace('maDonHang')">
                            <jhi-error-messages *ngIf="formControl['maDonHang'].hasError('required')"
                                                [displayError]="isFieldValid('maDonHang')"
                                                errorMsg="Mã đơn hàng không được để trống">
                            </jhi-error-messages>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': isFieldValid('idCuaHang')}">
                        <label class="col-sm-3 custom-label-right required">Tên cửa hàng</label>
                        <div class="col-sm-8 form-custom-select">
                            <ng-select [items]="listCuaHang"
                                       placeholder="{{this.translateService.instant('common.select.option.all')}}"
                                       clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                       notFoundText="{{'common.select.notFoundText' | translate}}"
                                       searchable="false"
                                       bindLabel="tenCuaHang" bindValue="id" formControlName="idCuaHang">
                                <ng-template ng-option-tmp let-item="item">
                                    {{formatPreShow(item.tenCuaHang)}} <br/>
                                </ng-template>
                            </ng-select>
                            <jhi-error-messages *ngIf="formControl['idCuaHang'].hasError('required')"
                                                [displayError]="isFieldValid('idCuaHang')"
                                                errorMsg="Cửa hàng không được để trống">
                            </jhi-error-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': isFieldValid('idKhachHang')}">
                        <label class="col-sm-3 custom-label-right required">Khách hàng</label>
                        <div class="col-sm-8 form-custom-select">
                            <ng-select [items]="listKhachHang"
                                       placeholder="{{this.translateService.instant('common.select.option.all')}}"
                                       clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                       notFoundText="{{'common.select.notFoundText' | translate}}"
                                       searchable="false"
                                       bindLabel="tenKhachHang" bindValue="id" formControlName="idKhachHang">
                                <ng-template ng-option-tmp let-item="item">
                                    {{formatPreShow(item.tenKhachHang)}} <br/>
                                </ng-template>
                            </ng-select>
                            <jhi-error-messages *ngIf="formControl['idKhachHang'].hasError('required')"
                                                [displayError]="isFieldValid('idKhachHang')"
                                                errorMsg="Khách hàng không được để trống">
                            </jhi-error-messages>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': isFieldValid('ngayXuat')}">
                        <label [ngClass]="type === 'update' ? 'required' : '' || type === 'add' ? 'required' : ''"
                               class="col-sm-3 custom-label-right required">Ngày xuất</label>
                        <div class="col-sm-8 form-custom-select">
                            <input type="date" class="form-control" placeholder="dd-mm-yyyy" formControlName="ngayXuat">
                            <jhi-error-messages *ngIf="formControl['ngayXuat'].hasError('required')"
                                                [displayError]="isFieldValid('ngayXuat')"
                                                errorMsg="Ngày xuất không được để trống">
                            </jhi-error-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="margin-bottom: 2%;">
                <button type="button" class="btn btn-danger" (click)="openModal('add')">
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i><span>Xuất thêm</span>
                </button>
            </div>
        </form>

        <div class="row">
            <perfect-scrollbar id="scrollbarTable" class="ps">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <th class="small-width-table" jhiTranslate="userGroup.orderNumber">STT
                        </th>
                        <th class="medium-width-table"><span>Sản phẩm</span>
                        </th>
                        <th class="medium-width-table"><span>Số lượng</span>
                        </th>
                        <th class="medium-width-table"><span>Đơn giá</span>
                        </th>
                        <th class="medium-width-table"><span>Tổng tiền</span>
                        </th>
                        <th class="medium-width-table"><span>Ngày sản xuất</span>
                        </th>
                        <th class="medium-width-table"><span>Ngày hết hạn</span>
                        </th>
                        <th class="medium-width-table action-width-four-icon custom-width"
                            jhiTranslate="userGroup.action" style="width: 7rem;">
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of listDonXuat; index as i">
                    <tr>
                        <td class="text-center">{{itemsPerPage * (page - 1) + i + 1}}</td>
                        <td>{{item.tenSanPham}}</td>
                        <td>{{item.soLuong}}</td>
                        <td>{{item.gia}}</td>
                        <td>{{item.tongTien}}</td>
                        <td>{{item.ngaySanXuat}}</td>
                        <td>{{item.ngayHetHan}}</td>
                        <td class="text-left four-icon medium-width-table">
                            <div class="group-action">
                                <button class="btn btn-light" placement="top"
                                        (click)="openModal('update', item)"
                                        ngbTooltip="{{'common.tooltip.action.update' | translate}}"
                                        onclick="this.blur();">
                                    <i class="fa fa-pencil-square-o icon-update" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-light" placement="top"
                                        ngbTooltip="{{'common.tooltip.action.delete' | translate}}"
                                        (click)="onDelete(item)"
                                        onclick="this.blur();">
                                    <i class="fa fa-trash icon-delete" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 2%;margin-top: 2%;">
            <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-danger"
                    (click)="onSubmit()">
                <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span
                    jhiTranslate="{{'common.button.confirm.save'}}"></span>
            </button>
            <button *ngIf="type === 'add' || type === 'update'" type="submit" class="btn btn-light"
                    (click)="onCancel()">
                <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                    jhiTranslate="{{'common.button.confirm.cancel'}}"></span>
            </button>
            <button *ngIf="type === 'detail'" type="button" class="btn btn-light" (click)="onCancel()">
                <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                    jhiTranslate="{{'common.button.confirm.close'}}"></span>
            </button>
        </div>
    </div>
</div>
