<form class="input-group mr-2" autocomplete="off">
  <div class="form-group w-100 mb-0">
    <div class="input-group">
      <input class="form-control" placeholder="dd-mm-yyyy" rInputMask="99-99-9999" (click)="d.toggle()"
             name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <i class="pg-calender"></i>
        </button>
      </div>
    </div>
  </div>
</form>