<jhi-spinner></jhi-spinner>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <button routerLink="" class="btn btn-link btn-custom-bg" ngbTooltip="{{'common.tooltip.home' | translate}}">
            <i class="fa fa-home icon-breadcrumb" aria-hidden="true"></i>
        </button>
    </li>
    <li class="breadcrumb-item">Báo cáo</li>
    <li class="breadcrumb-item">Báo cáo lương nhân viên</li>

</ol>
<perfect-scrollbar class="ps" [style.max-height.px]="height" (window:resize)="onResize()">
    <div id="organizationCategories" class="page-content">
        <div class="card mb-1">
            <div class="card-header">
                <a data-toggle="collapse" href="#search" aria-expanded="true"><span>Điều kiện tìm kiếm</span></a>
            </div>
            <div id="search" class="collapse show">
                <div class="card-body">
                    <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row dropdown form-custom-select ">
                                    <label class="col-sm-3 custom-label-right">Tên nhân viên</label>
                                    <div class="col-sm-8 form-custom-select">
                                        <input type="text" class="form-control" formControlName="ten"
                                               maxlength="200" (blur)="trimSpace('ten')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row dropdown form-custom-select ">
                                    <label class="col-sm-3 custom-label-right">Phòng ban</label>
                                    <div class="col-sm-8 form-custom-select">
                                        <ng-select [items]="listPhongBan"
                                                   placeholder="{{this.translateService.instant('common.select.option.all')}}"
                                                   clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                                   notFoundText="{{'common.select.notFoundText' | translate}}"
                                                   searchable="false"
                                                   bindLabel="ten" bindValue="id" formControlName="phongBanId">
                                            <ng-template ng-option-tmp let-item="item">
                                                {{formatPreShow(item.ten)}} <br/>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row dropdown form-custom-select ">
                                    <label class="col-sm-3 custom-label-right">Chức vụ</label>
                                    <div class="col-sm-8 form-custom-select">
                                        <ng-select [items]="listChucVu"
                                                   placeholder="{{this.translateService.instant('common.select.option.all')}}"
                                                   clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                                   notFoundText="{{'common.select.notFoundText' | translate}}"
                                                   searchable="false"
                                                   bindLabel="tenChucVu" bindValue="id" formControlName="chucVuId">
                                            <ng-template ng-option-tmp let-item="item">
                                                {{formatPreShow(item.tenChucVu)}} <br/>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row dropdown form-custom-select"
                                     [ngClass]="{'has-error': isFieldValid('month')}">
                                    <label [ngClass]="'required'"
                                           class="col-sm-3 form-control-label custom-label-right">Tháng</label>
                                    <div class="col-sm-8 form-custom-select">
                                        <input type="date" class="form-control" placeholder="dd-mm-yyyy"
                                               formControlName="month">
                                        <jhi-error-messages *ngIf="formControl['month'].hasError('required')"
                                                            [displayError]="isFieldValid('month')"
                                                            errorMsg="Tháng không được để trống">
                                        </jhi-error-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-danger" (click)="onSearchData()">
                                <i class="fa fa-search mr-2" aria-hidden="true"></i><span>Tìm kiếm</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#dataTable" aria-expanded="true"><span>Kết quả</span></a>
            </div>
            <div id="dataTable" class="collapse show">
                <div class="card-body pt-2 pb-0 px-2">
                    <div class="row d-flex justify-content-end pr-1">
                        <button type="button" class="btn btn-danger" (click)="onExport()">
                            <span>Xuất Báo cáo</span>
                        </button>
                    </div>
                    <div class="row">
                        <perfect-scrollbar id="scrollbarTable" class="ps">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                                    <th class="small-width-table" jhiTranslate="userGroup.orderNumber">STT
                                    </th>
                                    <th class="medium-width-table"><span>Tên nhân viên</span></th>
                                    <th class="medium-width-table"><span>Phòng ban</span></th>
                                    <th class="medium-width-table"><span>Chức vụ</span></th>
                                    <th class="medium-width-table"><span>Lương theo giờ</span></th>
                                    <th class="medium-width-table"><span>Số giờ làm</span></th>
                                    <th class="medium-width-table"><span>Lương cơ bản</span></th>
                                    <th class="medium-width-table"><span>đánh giá</span></th>
                                    <th class="medium-width-table"><span>Kỷ luật</span></th>
                                    <th class="medium-width-table"><span>Bảo hiểm</span></th>
                                    <th class="medium-width-table"><span>Trợ cấp</span></th>
                                    <th class="medium-width-table"><span>Lương thực nhận</span></th>
                                    <th class="medium-width-table action-width-four-icon custom-width"
                                        jhiTranslate="userGroup.action">
                                    </th>
                                </tr>
                                </thead>
                                <tbody *ngFor="let item of listData; index as i">
                                <tr>
                                    <td class="text-center">{{itemsPerPage * (page - 1) + i + 1}}</td>
                                    <td>{{item.hoNhanVien + " " + item.tenNhanVien}}</td>
                                    <td>{{item.tenPhongBan}}</td>
                                    <td>{{item.tenChucVu}}</td>
                                    <td style="text-align: right">{{item.heSoLuong}}</td>
                                    <td>{{item.soGioLam}}</td>
                                    <td style="text-align: right">{{item.totalLuongBefore | number}}</td>
                                    <td style="text-align: right">{{item.totalKhenThuong | number}}</td>
                                    <td style="text-align: right">{{item.totalKyLuat | number}}</td>
                                    <td style="text-align: right">{{item.totalBaoHiem | number}}</td>
                                    <td style="text-align: right">{{item.totalTc | number}}</td>
                                    <td style="text-align: right">{{item.totalLuongAfter | number}}</td>
                                    <td class="text-center four-icon medium-width-table">
                                        <div class="group-action">
                                            <button class="btn btn-light" placement="top"
                                                    (click)="openModal('detail', item)"
                                                    ngbTooltip="{{'common.tooltip.action.detail' | translate}}"
                                                    onclick="this.blur();">
                                                <i class="fa fa-info-circle icon-update" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
                    <div class="row justify-content-start py-2 pl-1  table-footer no-data"
                         *ngIf="!totalItems">
                        <p style="color: red" class="item-count">Không có bản ghi</p>
                    </div>

                    <div class="d-flex justify-content-end table-footer" [hidden]="!totalItems">
                        <div class="row justify-content-center">
                            <p class="item-count">{{'common.table.totalItems'| translate}} {{totalItems}}</p>
                            <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="page"
                                            [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true"
                                            [boundaryLinks]="true"
                                            (pageChange)="loadPage(page)">
                            </ngb-pagination>
                            <jhi-page-size (onChangePageSize)="changePageSize($event)"></jhi-page-size>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</perfect-scrollbar>
