.modal {
  padding: 0 !important;
}
.modal-dialog {
  max-width: 80% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-content {
  border-radius: 0 !important;
  height: 100%;
}

.cus-p {
  padding-right: 0.7rem !important;
  padding-left: 0.7rem !important;
}
