<div class="custom-modal-large" jhiModalDrag [handle]="handle">
  <div class="modal-header" #handle>
    <h5 class="modal-title mt-0">
      Thống kê công nợ theo đối tác
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="onCloseAddModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<perfect-scrollbar class="ps" [style.max-height.px]="height" (window:resize)="onResize()">
  <div class="modal-body">
    <div class="page-content">
      <div class="card mb-1">
        <div class="card-header">
          <a data-toggle="collapse" href="#search" aria-expanded="true"><span
            jhiTranslate="common.card.title.search"></span></a>
        </div>
        <div id="search" class="collapse show">
          <div class="card-body">
            <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
              <div class="row">
                <!-- start  ma doi tac-->
                <div class="col-md-6">
                  <div class="form-group row dropdown form-custom-select">
                    <label class="col-sm-3 col-form-label custom-label-right">
                      <span jhiTranslate="searchTitle.partnerShortName">Đối tác</span>
                    </label>
                    <div class="col-sm-9 form-custom-select">
                      <input type="text" class="form-control" formControlName="partnerShortName" maxlength="255" (blur)="trimSpace('partnerShortName')">
                      <jhi-error-messages *ngIf="formControl['partnerShortName'].hasError('maxlength')"
                                          [displayError]="isFieldValid('partnerShortName')"
                                          errorMsg="{{ 'partnerOrgan.validate.partnerShortName.maxLength' | translate }}">
                      </jhi-error-messages>
                    </div>
                  </div>
                </div>
                <!-- end  ma doi tac-->
                <div class="col-md-6">
                  <div class="form-group row dropdown form-custom-select">
                    <label class="col-sm-3 col-form-label custom-label-right" jhiTranslate="searchTitle.partnerCategory" >Loại đối tác</label>
                    <div class="col-sm-9 form-custom-select">
                      <select class="form-control custom-select-arrow"
                              formControlName="partnerCategory">
                        <option value="">--Tất cả--</option>
                        <option *ngFor="let item of partnerCategory" [ngValue]="item.id">{{item.name}}
                        </option>
                      </select>
                      <span class="span-after-select"><i class="fa fa-angle-down"
                                                         aria-hidden="true"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label custom-label-right"
                           jhiTranslate="liabilitiesPartner.unitOutsource">Đơn vị thuê ngoài</label>
                    <div class="col-sm-9">
                      <ng-select [items]="listOutOrg$ | async"
                                 placeholder="{{'common.select.option.all' | translate }}"
                                 clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                                 notFoundText="{{( codeSearchOutOrg ?   notFoundText :  'common.select.required') | translate }}"
                                 bindLabel="partnerCode" bindValue="partnerCapacityProfiId"
                                 formControlName="outsourcedUnit"
                                 [searchFn]="customSearchFn"
                                 (search)="onSelectOutOrg($event)"
                                 (clear)="onClearOutOrg()"
                                 (close)="onSearchOutOrgClose()">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.partnerCode}} - {{item.partnerName}}<br/>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
                <!--             start MM còn nợ-->
                <div class="col-md-6">
                  <div class="form-group row dropdown form-custom-select">
                    <label class="col-sm-3 col-form-label custom-label-right">
                      <span jhiTranslate="searchTitle.MMOwed">MM còn nợ</span>
                    </label>
                    <div class="col-sm-9 form-custom-select">
                      <input type="text" [textMask]="{mask: MMOwed}" class="form-control" formControlName="MMOwed" maxlength="20"
                             (blur)="deleteZero($event)">
                    </div>
                  </div>
                </div>
              </div>
              <!--              end mm còn nơ-->
              <!--              start MM sử dụng lũy kế-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row dropdown form-custom-select">
                    <label class="col-sm-3 col-form-label custom-label-right">
                      <span jhiTranslate="searchTitle.MMAccumulated">MM sử dụng lũy kế</span>
                    </label>
                    <div class="col-sm-9 ">
                      <input type="text" min="1" [textMask]="{mask: MMAccumulated}" class="form-control" formControlName="MMAccumulated" maxlength="20"
                             (blur)="deleteZero($event)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row dropdown form-custom-select">
                    <label class="col-sm-3 col-form-label custom-label-right">
                      <span jhiTranslate="searchTitle.MMPayed">MM đã thanh toán</span>
                    </label>
                    <div class="col-sm-9 form-custom-select">
                      <input type="text" [textMask]="{mask: MMPayed}" min="1" class="form-control" formControlName="MMPayed" maxlength="20"
                             (blur)="deleteZero($event)">
                    </div>
                  </div>
                </div>
              </div>
              <!--              end MM sử dụng lũy kế-->
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" (click)="doSearch(true)">
                  <i class="fa fa-search mr-2" aria-hidden="true"></i><span
                  jhiTranslate="common.button.search">Tìm kiếm</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a data-toggle="collapse" href="#dataTable" aria-expanded="true"><span
            jhiTranslate="dataCategories.searchForm.title">Kết quả tìm kiếm</span></a>
        </div>
        <div id="dataTable" class="collapse show">
          <div class="card-body pt-2 pb-0 px-2">
            <div id="table" class="collapse show">
              <div class="row d-flex justify-content-end">
                <div ngbDropdown class="d-inline-block choose-column float-right cus-r" placement="bottom-right" ngbTooltip="Ẩn/hiện cột">
                  <button type="button" id="dropdownBasic" class="btn btn-danger btn-view-column" style="margin-right: -5px"
                          placement="top" ngbDropdownToggle>
                    <i class="fa fa-list" aria-hidden="true"></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <perfect-scrollbar class="ps" [style.max-height.vh]="SHOW_HIDE_COL_HEIGHT">
                      <div class="custom-control custom-checkbox" *ngFor="let col of columns; let i = index" >
                        <input class="custom-control-input" type="checkbox" [checked]="col.isShow"
                               id="check{{ i }}" (click)="toggleColumns(col)" />
                        <label class="custom-control-label cursor-pointer" for="check{{ i }}">
                          {{ col.value }}
                        </label>
                      </div>
                    </perfect-scrollbar>
                  </div>
                </div>
              </div>
              <div class="card-body pt-2 pb-0 px-2">
                <perfect-scrollbar id="scrollbarTable" class="ps">
                  <table class="table table-bordered table-hover table-striped ">
                    <thead>
                    <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                      <th class="small-width-table">STT</th>
                      <th class="medium-width-table" *ngIf="this.columns[0]?.isShow"><span
                        jhiTranslate="grid-view.partner">Đối tác</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[1]?.isShow"><span
                        jhiTranslate="grid-view.contract-num">Số hợp đồng</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[2]?.isShow"><span
                        jhiTranslate="grid-view.partnerCategory">Loại đối tác</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[3]?.isShow"><span
                        jhiTranslate="grid-view.productionUnit">Đơn vị sản xuất</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[4]?.isShow"><span
                        jhiTranslate="grid-view.listNameTechnicalClue">Đầu mối sản xuất</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[5]?.isShow"><span
                        jhiTranslate="grid-view.listNameBusinessOrganization">Đơn vị kinh doanh</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[6]?.isShow"><span
                        jhiTranslate="grid-view.listNameBusinessClue">Đầu mối kinh doanh</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[7]?.isShow"><span
                        jhiTranslate="grid-view.outsourcedUnit">Đơn vị thuê ngoài</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[8]?.isShow"><span
                        jhiTranslate="grid-view.contactPointsForCooperation">Đầu mối đề nghị hợp tác</span>
                      </th>
                      <th class="medium-width-table" *ngIf="this.columns[9]?.isShow"><span
                        jhiTranslate="grid-view.totalMMAccumulated">MM sử dụng lũy kế</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[10]?.isShow"><span
                        jhiTranslate="grid-view.MMPayed">MM đã thanh toán</span></th>
                      <th class="medium-width-table" *ngIf="this.columns[11]?.isShow"><span
                        jhiTranslate="grid-view.MMOwed">MM còn nợ</span></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of listDataSearch; index as i">
                    <tr>
                      <td class="text-center">{{((page - 1) * itemsPerPage) + (i + 1)}}</td>
                      <td class="ng-star-inserted" style="font-weight: bold"
                          *ngIf="this.columns[0]?.isShow">{{ item.partnerName }}</td>
                      <td class="ng-star-inserted" *ngIf="this.columns[1]?.isShow">{{ item.contractNum }}</td>
                      <td class="ng-star-inserted" *ngIf="this.columns[2]?.isShow">{{ item.partnerCategory }}</td>
                      <td class="ng-star-inserted" *ngIf="this.columns[3]?.isShow">{{ item.productionUnit }}</td>
                      <td class="ng-star-inserted" *ngIf="this.columns[4]?.isShow">{{ item.listNameTechnicalClue }}</td>
                      <td class="ng-star-inserted"
                          *ngIf="this.columns[5]?.isShow">{{ item.listNameBusinessOrganization }}</td>
                      <td class="ng-star-inserted" *ngIf="this.columns[6]?.isShow">{{ item.listNameBusinessClue }}</td>
                      <td class="ng-star-inserted" *ngIf="this.columns[7]?.isShow">{{ item.outsourcedUnit }}</td>
                      <td class="ng-star-inserted"
                          *ngIf="this.columns[8]?.isShow">{{ item.contactPointToProposeCooperation }}</td>
                      <td class="text-right ng-star-inserted"
                          [ngStyle]="{'font-weight': item.partnerName ? 'bold' : ''}"
                          *ngIf="this.columns[9]?.isShow">{{item.totalMMUseAccumulated == null ? 0 : commonService.formatCurrency(item.totalMMUseAccumulated)}}</td>
                      <td class="text-right ng-star-inserted"
                          [ngStyle]="{'font-weight': item.partnerName ? 'bold' : ''}"
                          *ngIf="this.columns[10]?.isShow"> {{ item.totalMMPayed == null ? 0 : commonService.formatCurrency(item.totalMMPayed)}} </td>
                      <td class="text-right ng-star-inserted"
                          [ngStyle]="{'font-weight': item.partnerName ? 'bold' : ''}"
                          *ngIf="this.columns[11]?.isShow"> {{ item.totalMMOwed == null ? 0 : commonService.formatCurrency(item.totalMMOwed)}} </td>
                    </tr>
                    </tbody>
                    <!--                  Tổng                -->
                    <tr *ngIf="listDataSearch != null && listDataSearch.length != 0">
                      <td class="text-center"></td>
                      <td style="font-weight: bold" *ngIf="this.columns[0]?.isShow">Tổng</td>
                      <td class=" ng-star-inserted" *ngIf="this.columns[1]?.isShow"></td>
                      <td class=" ng-star-inserted" *ngIf="this.columns[2]?.isShow"></td>
                      <td class=" ng-star-inserted" *ngIf="this.columns[3]?.isShow"></td>
                      <td class=" ng-star-inserted" *ngIf="this.columns[4]?.isShow"></td>
                      <td class=" ng-star-inserted" *ngIf="this.columns[5]?.isShow"></td>
                      <td class=" ng-star-inserted" *ngIf="this.columns[6]?.isShow"></td>
                      <td class="ng-star-inserted" *ngIf="this.columns[7]?.isShow"></td>
                      <td class="ng-star-inserted" *ngIf="this.columns[8]?.isShow"></td>
                      <td class="text-right ng-star-inserted" style="font-weight: bold"
                          *ngIf="this.columns[9]?.isShow">{{commonService.formatCurrency(totalMMUseAccumulatedPartnerCode.toString())}}</td>
                      <td class="text-right ng-star-inserted" style="font-weight: bold"
                          *ngIf="this.columns[10]?.isShow">{{commonService.formatCurrency(totalMMPayedPartner.toString())}}</td>
                      <td class="text-right ng-star-inserted" style="font-weight: bold"
                          *ngIf="this.columns[11]?.isShow">{{commonService.formatCurrency(totalMMOwedPartner.toString())}}</td>
                    </tr>
                  </table>
                </perfect-scrollbar>
                <div class="row justify-content-start py-2 pl-1  table-footer no-data m-1"
                     *ngIf="!totalItems || totalItems === 0">
                  <p class="item-count" jhiTranslate="common.table.noData"></p>
                </div>
                <div class="d-flex justify-content-end table-footer" [hidden]="totalItems === 0">
                  <div class="row justify-content-center">
                    <p class="item-count">{{'common.table.totalItems'| translate}} {{totalItems}}</p>
                    <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="page"
                                    [pageSize]="itemsPerPage"
                                    [maxSize]="maxSizePage" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                    <jhi-page-size-popup (onChangePageSize)="changePageSize($event)"></jhi-page-size-popup>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>






